.container {
  background-color: #d1d1d1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.dashboard {
  display: flex;
}

.dataViewContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.detailBox {
  background-color: white;
  padding: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  flex-basis: 21%;
}

.image {
  width: 100%;
  background-color: #d1d1d1;
}

.filterYear {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.button {
  flex-basis: 50%;
  margin-bottom: 10px;
}

.filter {
  background-color: white;
  padding: 15px;
}

.launchYear {
  position: relative;
  text-align: center;
}

.launchYear:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  bottom: 0;
  height: 0px;
  width: 50%;
  border-bottom: 2px solid #d1d1d1;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.mission-image {
  width: inherit;
}
